registry=https://devrepo.devcloud.cn-east-3.huaweicloud.com/artgalaxy/api/npm/cn-east-3_f4f9278e1c9843d4ab2c3a1057026386_npm_5_1/
always-auth=true
//devrepo.devcloud.cn-east-3.huaweicloud.com/artgalaxy/api/npm/cn-east-3_f4f9278e1c9843d4ab2c3a1057026386_npm_5_1/:_auth="Y24tZWFzdC0zX2Y0ZjkyNzhlMWM5ODQzZDRhYjJjM2ExMDU3MDI2Mzg2XzhkZjBmYjJiZGYxMjRkYjk5NGFjNDA3NWJiZmVmMzAzOnFIND1eeDJMeEc="
